<header>
    <nav>
        <a href='/'>Dummy Client Web Service</a>
        <ul>
            <li><a href='/svoice'> Svoice</a> </li>
            <li><a href='/svoice/new_entry'> New Svoice Entry </a> </li>
        </ul>
    </nav>
</header>